In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [30]:
types = ["Неуверенный", "Заводила", "Танцор", "Умеренный"]
dancer_types_df = pd.DataFrame(columns=types, data=[
    [-1, 0, 1, -0.5],
    [-1, 1, 1, 0]
])
dancer_types_df

   Неуверенный  Заводила  Танцор  Умеренный
0           -1         0       1       -0.5
1           -1         1       1        0.0

In [31]:
data1_df = pd.read_csv("../dancer_data/data1/000.csv", names=["d1_activity", "d2_activity", "d3_activity", "d1_dominance", "d2_dominance", "d3_dominance"])

In [32]:
data1_df

,d1_activity,d2_activity,d3_activity,d1_dominance,d2_dominance,d3_dominance
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
7195,2,1,0,0,0,0
7196,2,1,0,0,0,0
7197,2,1,0,0,0,0
7198,2,1,0,0,0,0
7199,0,1,0,0,0,0